.misSectionBetter {
  @extend .my-6;

  .wp-block-heading {
    @extend .mb-3;

    strong {
      font-weight: $font-weight-bold;
    }
  }
}

.misSectionStory {
}

.misSectionProcedure {
  width: 75%;

  @media (max-width: 767.98px) {
    width: 100%;
    padding: 0;
  }

  @media (max-width: 767.98px) {
    .wp-block-column:nth-child(2) {
      display: none;
    }
  }
}

.phantomMIS {
  padding: $spacer * 3;

  @media (max-width: 575.98px) {
    padding: $spacer * 2 $spacer;
  }

  .wp-block-columns {
    margin: 0;

    .wp-block-column {
      .wp-block-heading:first-child {
        @media (max-width: 991.98px) {
          font-size: 32px !important;
        }
        @media (max-width: 575.98px) {
          font-size: $h3-font-size !important;
        }
      }
    }

    .wp-block-column:last-child {
      .wp-block-image {
        margin-bottom: 0;

        img {
          width: 75%;
        }
      }
    }
  }
}
