.treatmentOption-hero {
  img {
    @media (max-width: 767.98px) {
      opacity: 0.5;
    }
  }
}

.treatmentOption-solution {
  .wp-block-group {
    line-height: 1.7;
  }
  .wp-block-columns {
    .wp-block-column {
      @extend .row, .align-items-center, .ps-2;

      .wp-block-image {
        @extend .col-4, .p-0;
      }

      .wp-block-group {
        @extend .col-8;
      }
    }
  }
}

.treatmentOption-related {
  @extend .pt-5;

  .wp-block-group {
    .wp-block-group {
      @extend .row,
        .align-items-center,
        .flex-column,
        .flex-md-row,
        .pt-4,
        .pb-5;

      ul {
        @extend .col-md-4, .ms-0;
        font-size: $h4-font-size;
        line-height: 2.5;

        li::marker {
          @extend .text-primary;
        }
      }

      p {
        @extend .col-md-8;
        line-height: 1.7;
        font-size: $h4-font-size;
      }
    }
  }
}
