.is-style-default {
  .wp-block-button__link {
    padding: ($spacer * 0.4) ($spacer * 1.5);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    transition: $btn-transition;
    font-size: $h6-font-size;

    &:hover {
      // transform: $btn-animate;
      background-color: $gray-300 !important;
    }
  }
}

.wp-block-button.is-style-outline {
  .wp-block-button__link {
    padding: ($spacer * 0.4) ($spacer * 1.5);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    transition: $btn-transition;
    border: none;
    font-size: $h6-font-size;

    &:hover {
      // transform: $btn-animate;
      background-color: #3f2a68 !important;
    }
  }
}
