.wp-block-cover {
  // @extend .my-0;

  height: 35rem;

  .wp-block-group {
  }
}

.homeCover {
  @extend .h-100;

  @media (max-width: 767.98px) {
    background-color: $primary;

    img {
      display: none;
    }
  }

  .homeTitle {
    p {
      font-size: $h4-font-size;
    }
  }
}
.sectionEachBunion {
  .wp-block-column {
    border-radius: $border-radius;

    .wp-block-group {
      padding: $spacer * 2;
      border-radius: $border-radius;

      .wp-block-heading {
        font-size: $h5-font-size;
      }

      p {
        font-size: $h6-font-size;
        line-height: 1.7;
      }
    }
  }
}

.aboutCover {
  @media (max-width: 767.98px) {
    img {
      opacity: 0.5;
    }
  }
  .wp-block-group {
    margin-top: $spacer * 10;

    p {
      font-size: $h3-font-size;
    }
  }
}

.causesCover {
  .wp-block-group {
    p {
      font-size: $h4-font-size;

      &:last-child {
        font-weight: $font-weight-medium;
      }
    }
  }
}

.brochureCover {
  margin-bottom: $spacer * 3;

  .wp-block-group {
    .wp-block-heading {
      margin-top: $spacer * 2;
      margin-bottom: $spacer * 2;
    }

    .wp-block-columns {
      .wp-block-column {
        .wp-block-image {
          padding: $spacer * 0.5;
          background-color: $white;
          border-radius: $border-radius;
        }
      }
      .wp-block-column {
        .wp-block-group {
          .wp-block-group {
            p:first-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.findCover {
  height: calc(100vh - 6rem);

  .wp-block-cover__inner-container {
    .af-form {
      max-width: fit-content;
    }
  }
}

// .misHomeCover {
//   .wp-block-cover__inner-container {
//     .wp-block-image {
//       margin-bottom: $spacer * 2;
//     }

//     .wp-block-group {
//       margin-bottom: $spacer * 3;
//     }
//   }
// }
