.sectionSymptoms {
  .bunionCondition {
    .wp-block-columns {
      margin-bottom: $spacer * 2;

      .wp-block-column {
        padding: $spacer $spacer * 0.9;
        box-shadow: $box-shadow;
        border-radius: $border-radius;

        .wp-block-group {
          height: 100%;
          position: relative;

          padding-bottom: 1.5rem;
          .wp-block-heading {
            font-size: $h4-font-size;
            font-weight: $font-weight-bold;
            letter-spacing: 0.7px;
          }
          p {
            font-weight: $font-weight-light;
          }
        }
        &:nth-child(1) ::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $primary;
          bottom: 0;
          left: 0;
        }

        &:nth-child(2) ::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $green;
          bottom: 0;
          left: 0;
        }

        &:nth-child(3) ::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $orange;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  .bunionNothing {
    .wp-block-columns {
      .wp-block-column {
        .wp-block-image {
          img {
            width: 75%;
          }
        }
        .wp-block-group {
          p strong {
            font-weight: $font-weight-semibold;
          }
        }
      }
    }
  }
}

.sectionTreatments {
  .wp-block-group:nth-child(1) {
    p {
      font-size: $h4-font-size;
      font-weight: $font-weight-light;
    }
  }
  .wp-block-columns {
    .wp-block-column {
      @extend .d-flex, .flex-column, .justify-content-between;
      padding: $spacer * 2;
      border-radius: $border-radius;

      .wp-block-heading {
        letter-spacing: 0.5px;
      }
      p {
        padding-bottom: $spacer * 2;
      }
    }
  }
}

.sectionChecker {
  .wp-block-columns {
    .wp-block-column {
      .wp-block-group {
        .wp-block-heading {
          margin-bottom: $spacer * 2;
        }
        .wp-block-group {
          .wp-block-heading {
            em {
              font-weight: $font-weight-medium !important;
            }
          }
        }
      }
    }
  }
}

.sectionBlog {
  .wp-block-heading {
    margin-bottom: $spacer * 2;
  }

  .blog-box {
    @extend .d-flex, .flex-column, .align-items-center, .gap-5;

    .blogs {
      row-gap: $spacer * 2;
      padding-inline: $spacer * 0.75;

      .blog {
        img {
          border-radius: $border-radius;
        }

        h4 {
          font-weight: $font-weight-semibold;
        }

        a {
          text-decoration: none;
          font-weight: $font-weight-semibold;
          font-size: $h6-font-size;
          text-decoration: underline;
        }

        .card-text {
          font-weight: $font-weight-light;
          font-size: $h6-font-size;
        }
      }
    }
  }
}

.bg-image-align-right {
  @extend .d-flex, .align-items-center;
  min-height: 550px;
  position: relative;

  @include media-breakpoint-down(lg) {
    min-height: auto;
  }

  &::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    background-image: linear-gradient(90deg, white 0 0%, transparent 40% 100%),
      url('~@images/smartlapidus-list-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;

    @include media-breakpoint-down(lg) {
      width: 100%;
      left: 0;
      background-image: url('~@images/smartlapidus-list-image.png');
      opacity: 0;
    }
  }

  .wp-block-group {
    @extend .w-100, .p-4;

    @include media-breakpoint-down(lg) {
      width: auto !important;
    }
  }
}
