footer {
  background-color: $primary;

  .footer {
    &__brands {
      .brand-img {
        @media (max-width: 991.98px) {
          height: 5rem;
          object-fit: contain;
        }

        &:hover {
        }
      }
    }
    &__content {
      @include media-breakpoint-up(lg) {
        border-left: 1px solid $white;
      }
    }

    &__list {
      line-height: 1.7;
    }

    &__button {
      @extend .text-primary;
      transition: $btn-transition;

      &:hover {
        transform: $btn-animate;
        box-shadow: $box-shadow;
      }
    }
  }
  i {
    font-size: 1.5rem;
  }
}
