footer{
    background-color: $primary;
}

.footer{
    &__buttons{
        margin-left: 10px;
    }

    &__content {
        @include media-breakpoint-up(lg) {
            border-left: 1px solid $white;
          }
    }
}
i{
    font-size: 1.5rem;
}
