.af-form {
  @extend .rounded-4, .p-3;
  box-shadow: $box-shadow;

  .af-fields {
    .af-page-wrap {
      @extend .progress, .position-relative;
      transform: translate(100%, -200%);
      width: 50%;
      background-color: $light-background;

      .af-page-button .current {
        @extend .text-white;
      }

      .af-page-button {
        @extend .border-0,
          .d-flex,
          .justify-content-center,
          .align-items-center,
          .bg-primary;
        height: inherit;

        &:not(.enabled) {
          opacity: 0;
        }

        .index {
          @extend .d-none;
        }

        .title {
          @extend .fw-lighter;
        }

        &::after {
          display: none;
        }
        &::before {
          display: none;
        }
      }
    }

    .af-field {
      @extend .border-0;

      .af-label {
        @extend .border-primary, .border-bottom, .mb-3;
      }
      .af-label label {
        @extend .text-primary, .fw-semibold, .mb-2;
      }

      // removed form label > editor not working.
      .af-input {
        .acf-fields {
          .acf-label {
            @extend .d-none;
          }
          .acf-input {
            @extend .w-100;
          }
        }
      }

      label {
        @extend .text-black, .fw-lighter;
        font-size: $font-size-small;
      }

      input[type='text'] {
        @extend .form-control;
        border-color: $tertiary;
      }
      input[type='email'] {
        @extend .form-control;
        border-color: $tertiary;
      }

      input[type='radio'] {
        appearance: none;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border: 1px solid $secondary;
        transition: 0.2s all ease-in;
      }

      input:checked {
        border: 6px solid $primary;
      }

      .form-control::placeholder {
        @extend .fw-light, .text-secondary;
      }
    }
    .af-submit {
      @extend .d-flex, .justify-content-between;
      padding-left: 1rem;

      .acf-button {
        @extend .btn, .btn-primary, .fw-medium;
      }

      .af-previous-button {
        @extend .btn,
          .btn-primary,
          .bg-white,
          .text-primary,
          .fw-medium,
          .border-primary;

        &:hover {
          @extend .bg-primary, .text-white;
        }
      }
      .af-next-button {
        @extend .btn, .btn-primary, .fw-medium;

        &:hover {
          @extend .bg-white, .text-primary;
        }
      }
    }

    .checkbox-card {
      .af-input {
        .acf-checkbox-list {
          @extend .gy-3;
          @include make-row();

          background-color: $white;
          // grid-template-columns: 1fr 1fr 1fr;

          input[type='checkbox']:not(:last-child) {
            @extend .d-none;
          }

          // :last-child pseudo not working.
          &:last-child {
            label {
              input[type='checkbox'] {
                appearance: none;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                border: 1px solid $secondary;
                transition: 0.2s all ease-in;
              }

              input:checked {
                border: 6px solid $primary;
              }
            }
          }

          &::before {
            content: none;
          }

          li {
            @extend .d-flex;

            @include make-col-ready();

            @include media-breakpoint-up(sm) {
              @include make-col(6);
            }
            @include media-breakpoint-up(lg) {
              @include make-col(4);
            }

            label {
              @extend .text-primary, .fw-semibold, .ps-4, .pe-2, .pt-3, .pb-4;
              cursor: pointer;
              box-shadow: $box-shadow;
              border-radius: $border-radius;
              height: 379px;

              &.selected {
                @extend .bg-primary, .text-white;
              }

              img {
                @extend .w-100, .mb-2;
                margin-left: -0.5rem;
                border-radius: $border-radius;
                height: 284px;
                object-fit: cover;
              }
            }

            &:last-child {
              @extend .align-items-end;
            }

            &:last-child label {
              @extend .shadow-none, .d-flex, .align-items-center, .h-25;

              &.selected {
                @extend .bg-transparent, .text-primary;
              }
            }
          }
        }
      }
    }
  }
}

.wp-block-group {
  .acf-form {
    .acf-fields {
      @extend .border-0;

      .acf-label {
      }

      .acf-field-text {
        @extend .border-0;

        &::before {
          @extend .d-none;
        }
        input {
          padding: 0.9rem 1rem;
        }
      }
      .acf-field-email {
        @extend .border-0;

        &::before {
          @extend .d-none;
        }
        input {
          padding: 0.9rem 1rem;
        }
      }
      .acf-field-number {
        @extend .border-0;

        &::before {
          @extend .d-none;
        }
        input {
          padding: 0.9rem 1rem;
        }
      }
    }
  }
}

// link, visited
// hover, active
