.brand{
    color: $color-primary-1;
}

.surgeon{
    background: $color-grey-light-2;
    &__link {
        color: $color-black;
    }
}
.navigation {
    &__link{
        color: $color-black;
    }
}