.blog-content {
  p:first-child {
    display: none;
  }

  .blog-box {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: $spacer * 3;
    // margin-bottom: -$spacer * 8;
    // transform: translateY(-15%);
    background-color: $white;

    @media (max-width: 575.98px) {
      padding: $spacer * 1.5;
    }

    img {
      object-fit: cover;
    }

    .blog-title {
      margin-bottom: $spacer * 2;
    }
  }
}
