.locator {
  .locator-left {
    box-shadow: $box-shadow;
    max-width: 500px;

    .form-header {
      #wpsl-search-input {
        border: 2px solid $secondary;
        border-radius: $border-radius;
        width: 100% !important;
      }
      #wpsl-search-btn {
        @extend .text-white;
        background: $primary;
        border-radius: $border-radius;
      }
    }

    .form-content {
      .wpsl-preloader img {
        top: 38.5% !important;
        left: 50px !important;
      }

      #wpsl-stores {
        ul {
          li {
            margin-bottom: $spacer;
            border-bottom: 1px solid $gray-500;

            .store {
              .wpsl-store-thumb {
                height: 75px;
                width: 75px;
                @extend .m-0;
              }

              &-name {
                font-size: $font-size-medium;
              }
              &-address {
                font-size: $font-size-small;
              }

              &-single-content {
                &-imgbox {
                  .attachment-medium {
                    border-radius: $border-radius;
                  }
                }
              }
            }
          }
        }
        .wpsl-store-location {
          p {
            // @extend .d-sm-flex, .flex-sm-column;
          }
          p img {
            @extend .h-25, .w-25, .m-0;
          }
          p strong {
            @extend .d-block;
            font-size: $font-size-medium;
            color: $primary;
            font-weight: $font-weight-bold;
          }
        }
        .wpsl-direction-wrap {
          margin-bottom: $spacer * 2;
        }
      }
    }
  }

  .locator-right {
  }
}
