.locator {
  .locator-left {
    box-shadow: $box-shadow;
    @media (max-width: 768px) {
      //   height: auto !important;
    }
    .form-header {
      #wpsl-search-input {
        border: 2px solid $secondary;
        border-radius: $border-radius;
        width: 100% !important;
      }
      #wpsl-search-btn {
        @extend .text-white;
        background: $primary;
        border-radius: $border-radius;
      }
    }

    .form-content {
      .wpsl-preloader img {
        top: 38.5% !important;
        left: 50px !important;
      }

      #wpsl-stores {
        ul {
          max-width: 400px;
          li {
            margin-bottom: $spacer * 2;
            border-bottom: 1px solid $gray-500;
          }
        }
        .wpsl-store-location {
          p {
            @extend .d-sm-flex, .flex-sm-column;
          }
          p img {
            @extend .h-25, .w-25, .m-0;
          }
          p strong {
            font-size: $font-size-medium;
            color: $primary;
            font-weight: $font-weight-bold;
          }
          // target > p
          // small screen
          // display flex
          // flex-column

          .wpsl-contact-details {
            span {
              @extend .d-block;
            }
            span strong {
              font-size: $font-size-small;
            }
          }
          .wpsl-more-info-listings {
            strong {
              color: $primary;
            }
          }
        }
        .wpsl-direction-wrap {
          margin-bottom: $spacer * 2;
        }
      }
    }
  }

  .locator-right {
  }
}
