.wp-block-tabs {
  position: relative;
  margin-bottom: $spacer * 4;

  .tab {
    height: 450px;

    &-body {
      box-shadow: $box-shadow;
      padding: $spacer * 1 $spacer * 0.875;
      border-radius: $border-radius;
      border-top-left-radius: 0;
    }

    .btnTab {
      border-radius: $border-radius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: $spacer * 0.4 $spacer * 1.4;
      border: none;
      background-color: $tertiary;
      color: $primary;
      transition: $btn-transition;
      width: 15%;

      &:hover {
        color: $white;
        background-color: $primary;
      }
    }

    &:nth-of-type(2) {
      position: absolute;
      top: 0;

      .btnTab {
        margin-left: 16%;
      }
    }

    &:nth-of-type(3) {
      position: absolute;
      top: 0;

      .btnTab {
        margin-left: 32%;
      }
    }

    &:nth-of-type(4) {
      position: absolute;
      top: 0;

      .btnTab {
        margin-left: 48%;
      }
    }

    &-img {
      border-radius: $border-radius;
    }
  }

  .activeTab {
    background-color: $primary !important;
    color: $white !important;
  }
}

// $marginsAlign: 16%;

// @for $i from 2 through 5 {
//   .btnTab:nth-child(n + #{$i}) {
//     margin-left: $marginsAlign($i * 2);
//   }
// }
