.sectionTripod {
  transform: translateY(30%);
  margin-top: $spacer - 10;

  @include media-breakpoint-down(xxl) {
    transform: translateY(31%);
  }
  @media (max-width: 349.9px) {
    transform: translateY(35%);
  }
}

.sectionTripodTest {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 90%;
    width: 100vw;
    top: 50%;
    left: 50%;
    background-color: $tertiary;
    z-index: -1;
    transform: translate(-50%, -56%);
  }

  .wp-block-column:nth-child(1) {
    transform: translateY(25%);
  }
  .wp-block-column:nth-child(2) {
    transform: translateY(14%);
  }
}

@include media-breakpoint-between(md, lg) {
  .sectionTripod {
    margin-top: $spacer - 6;
  }

  .sectionTripodTest {
    margin-top: $spacer * 7;
    &::after {
      height: 100%;
    }

    .wp-block-column:nth-child(1) {
      transform: none;
    }
    .wp-block-column:nth-child(2) {
      transform: none;
      margin-bottom: $spacer * 2;
    }
  }
}

@include media-breakpoint-down(md) {
  .sectionTripod {
    margin-top: $spacer - 10;
  }

  .sectionTripodTest {
    margin-top: $spacer * 14;
    &::after {
      height: 100%;
    }

    .wp-block-column:nth-child(1) {
      transform: none;
    }
    .wp-block-column:nth-child(2) {
      transform: translateY(-3%);
      margin-bottom: $spacer;
    }
  }
}
