.sectionTripod {
  transform: translateY(31%);
  margin-top: $spacer - 10;
}

.sectionTripod2 {
  transform: translateY(5%);

  .wp-block-column {
    p {
      margin-top: $spacer * -2;
    }
  }
}

.tripodHeight {
  height: 406px;
}
