$primary: #4B307A;
$secondary: #edebf2;

// Defaults

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

// 
$gradient: linear-gradient(180deg, rgba($white, .15), rgba($white, 0)) !default;

// Editor in WordPress
$editor-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'black': $black,
    'white': $white,
    'grey-6': $gray-600
);
