$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1rem;
$nav-link-color: $primary;
$nav-link-transition: color 0.15s ease-in-out,
  background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
