$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #333;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;

$color-white: #fff;
$color-black: #000;


$color-primary-1: rebeccapurple;

$default-font-size: 1.6rem;
$font-size-medium: 3.2rem;
$font-size-large: 4.2rem;

$font-weight-lighter:         100;
$font-weight-light:           200;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          900;

