// For Bootstrap Variable

// Font Sizes
$navbar-icon: 2rem;
$heading-primary: 6rem;
$heading-secondary: 3.5rem;
$heading-tertiary: 1.6rem;

$font-size-icons: 1.81rem;
$default-font-size: 1.06rem;
$font-size-small: 0.94rem;
$font-size-medium: 1.25rem;
$font-size-large: 6rem;

$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
) !default;

$grid-gutter-width: 1.5rem;
$gutters: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$common-transition: all 0.2s ease-in-out;

$--bs-gutter-y: 1rem;
// Visuals
$box-shadow: 0 0.187rem 0.375rem #00000029;
$input-btn-padding-y: 0.9rem;
$input-btn-padding-x: 1rem;
$btn-padding-x: 1.4rem;
$btn-padding-y: 0.4rem;
$border-radius: 0.875rem;

$progress-height: 2rem;

/*
  between md - lg 
  img - translateX(10%)
  af-submit - right(10%)

  below md <
  af-form - w-100


  below sm <
  img - remove
  acf-input-wrap - w-100
  af-submit - right(-28%)

*/
